<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <header>
       <input type ="checkbox" name ="" id ="chk1">
      <div class="logo">
        <h1><a routerLink="" class="font-serif text-black">Together</a></h1>
      </div>
          <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="">Shows </a></li>
              <li><a routerLink="#">Movies</a></li>
              <li><a routerLink="#">Music</a></li>
              <li><a routerLink="#">Others</a></li>
              <li><a routerLink=""><mat-icon>announcement</mat-icon></a></li>
              <li><a routerLink=""><mat-icon>search</mat-icon></a></li>
              <li><a routerLink=""><mat-icon>add_circle</mat-icon></a></li>
              <li><button mat-raised-button color="black">Login</button></li>
              <li><button mat-raised-button color="black">Go-Ad free</button></li>
          </ul>
          <div class="menu">
              <label for="chk1">
<i class="fa fa-bars"></i>
              </label>
          </div>
        </header>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="1 -scroll>>"><iframe src="../../assets/img/mankatha/Mankatha Trailer _ 10 Years Of Mankatha _ Thala Ajith Kumar _ Arjun _ Yuvan _ Trisha _ Venkat Prabhu(480P).mp4" style="border: 5; width: 100%; height: 100%">Hollywood</iframe></mat-tab>
    <mat-tab label="2 -scroll>>"><iframe src="../../assets/img/billa/Billa Trailer 2020 _ Ajith_ Nayanthara _ Yuvan _ Vishnu Vardhan _ GV(720P_HD).mp4" style="border: 0; width: 100%;height: 100%">Bollywood</iframe></mat-tab>
    <mat-tab label="3 -<<scroll"><iframe src="../../assets/img/vis/Viswasam - Official Motion Poster _ Ajith Kumar_ Nayanthara _ Sathya Jyothi Films(720P_HD).mp4" style="border: 0; width: 100%; height: 100%">Kollywood</iframe></mat-tab>
  </mat-tab-group>
  <br><br>
  <div class="space-y-5">
                                                <!--AjithKumar-->
  <p class="text-4xl text-center ">Actor AjithKumar Popular Movies</p>
  <div class="p-2 space-y-3 md:flex md:p-0 md:space-x-2">

    <mat-card class="md:mt-3">
    <mat-card-title-group>
      <mat-card-title><a routerLink="man">Mankatha</a></mat-card-title>
      <mat-card-subtitle> 2011 ‧ Action/Thriller ‧ 2h 29m
      </mat-card-subtitle>
      <img mat-card-md-image src="../../assets/img/mankatha/1.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <p>Inspector Vinayak is suspended after he lets a smuggler escape. He then meets a group of men who plan to whisk away 500 crore belonging to a gangster. He promises to help them for a share in the loot.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title><a routerLink="newob">Billa</a></mat-card-title>
      <mat-card-subtitle>2009 ‧ Action/Thriller ‧ 2h 19m</mat-card-subtitle>
      <img mat-card-md-image src="../../assets/img/billa/1.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <p>Billa is a 2009 Indian Telugu-language gangster film directed by Meher Ramesh. The film stars Prabhas in a dual role alongside Krishnam Raju, Anushka Shetty, Hansika Motwani, Namitha, Rahman, and Kelly Dorjee.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title><a routerLink="">Visvasam</a></mat-card-title>
      <mat-card-subtitle>2019 ‧ Action/Thriller/Family ‧ 2h 39m</mat-card-subtitle>
      <img mat-card-md-image src="../../assets/img/vis/1.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      Thookku Durai, a chieftain, gets separated from his wife, Niranjana, after their daughter, Swetha, gets injured during a fight. Years later, he tries to protect Swetha without revealing his identity.
    </mat-card-content>
  </mat-card>
</div>
                                            <!--Dhanush-->
<p class="text-4xl text-center ">Actor Dhanush Popular Movies</p>
<div class="p-2 space-y-3 md:flex md:p-1 md:space-x-2">
  <mat-card class="md:mt-3">
  <mat-card-title-group>
    <mat-card-title><a routerLink="">Adukalam</a></mat-card-title>
    <mat-card-subtitle> 2012 ‧ Action/Tamil cinema ‧ 2h 35m
    </mat-card-subtitle>
    <img mat-card-md-image src="../../assets/img/dhanush/adu.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <p>Pettaikaaran has an impeccable track record of successes in rooster fights. However, when one of his aides, Karuppu, does not follow his instructions in a fight, it creates enmity between them.</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title><a routerLink="">Vadachennai</a></mat-card-title>
    <mat-card-subtitle>2018 ‧ Action/Thriller ‧ 2h 28m</mat-card-subtitle>
    <img mat-card-md-image src="../../assets/img/dhanush/vada.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <p>A proficient carrom player sets foot in the world of crime and joins forces with local gangsters to settle their feuds. However, he decides to take them down when they plan to wipe out his locality.</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title><a routerLink="">Karnan</a></mat-card-title>
    <mat-card-subtitle>2021 ‧ Action/Drama ‧ 2h 28m</mat-card-subtitle>
    <img mat-card-md-image src="../../assets/img/dhanush/kar.jpg" >
  </mat-card-title-group>
  <mat-card-content>
   <p>A small village in Tamil Nadu is inhabited by people belonging to a lower caste. Karnan, a young man, is revolted by the inhuman treatment given to his villagers and fights for their rights.</p>
  </mat-card-content>
</mat-card>
</div>
                                <!--vijay-->
                                <p class="text-4xl text-center ">Actor Vijay Popular Movies</p>
                                <div class="p-2 space-y-3 md:flex md:p-0 md:space-x-2">

                                  <mat-card class="md:mt-3">
                                  <mat-card-title-group>
                                    <mat-card-title><a routerLink="">Theri</a></mat-card-title>
                                    <mat-card-subtitle> 2011 ‧ Action/Thriller ‧ 2h 29m
                                    </mat-card-subtitle>
                                    <img mat-card-md-image src="../../assets/img/vijay/theri.jpg" >
                                  </mat-card-title-group>
                                  <mat-card-content>
                                    <p>DCP Vijaya Kumar goes into hiding to bring up his daughter in a safe environment. However, after her life is threatened by deadly gangsters, he must face his past to protect his daughter.</p>
                                  </mat-card-content>
                                </mat-card>
                                <mat-card class="example-card">
                                  <mat-card-title-group>
                                    <mat-card-title><a routerLink="">Mersal</a></mat-card-title>
                                    <mat-card-subtitle>2017 ‧ Action/Thriller ‧ 2h 19m</mat-card-subtitle>
                                    <img mat-card-md-image src="../../assets/img/vijay/mer.jpg" >
                                  </mat-card-title-group>
                                  <mat-card-content>
                                    <p>Maaran, a doctor, is falsely arrested for the murder of his colleague, Dr Arjun Zachariah. He soon discovers that the real culprit is a lookalike who aims to expose corruption in the medical industry.</p>
                                  </mat-card-content>
                                </mat-card>
                                <mat-card class="example-card">
                                  <mat-card-title-group>
                                    <mat-card-title><a routerLink="">Thupakki</a></mat-card-title>
                                    <mat-card-subtitle>2012 ‧ Action/Thriller‧ 2h 39m</mat-card-subtitle>
                                    <img mat-card-md-image src="../../assets/img/vijay/thu.jpg" >
                                  </mat-card-title-group>
                                  <mat-card-content>
                                    An army captain visits Mumbai to be with his family and find a suitable bride. However, an explosion in the city sets him off on a mission to find and disable a terrorist sleeper cell in the city.
                                  </mat-card-content>
                                </mat-card>
                              </div>


<div class="text-justify text-white bg-black">
  <p class="text-center">Watch the Latest Movies in Hindi, Tamil, Telugu and Kannada Online on Together</p><br>
    <p class="text-jusify">If you are looking for the latest movies, most popular web shows, newly released songs as well as the latest news, then Together is your one-stop destination for all your entertainment needs. One of the best OTT platforms in India, Together is a free video streaming service that you can enjoy on your laptop, TV, mobile phone and other smart devices. You do not fight for the television remote anymore, as all your favourite TV channels live are streaming for free right here. From the best award-winning web shows and blockbuster movies to the latest music videos and daily TV shows, you name it and we have it for you. All you need to do is connect your smart device to the internet and let us do the rest. So you can now take the entertainment with you wherever you go. </p><br>
    <p class="text-center">Stream News Live TV Channels, New Released Web Series for Free Online on Together </p>
    <p>Why look somewhere else when you can find all the entertainment. Stay tuned to MX Player to check out the latest movies, upcoming song videos, new web series and free live TV channels. </p>

                                                 <!--Contents-->
 <hr>

<div class="space-y-5 text-white bg-black md:flex md: md:space-x-8">
  <div class=" ml-28 md:ml-44 md:mt-6 md:align-middle">
    <ol><p class="text-blue-300">Trending</p>
      <li><a routerLink="">Valimai</a></li>
      <li><a routerLink="">Squid game</a></li>
      <li><a routerLink="">The Grey man</a></li>
      <li><a routerLink="">Adadae sundhara</a></li>
      <li><a routerLink="">Money heist</a></li>
    </ol>
    </div>
<div class="ml-28 ">
<ul><p class="text-blue-300">Popular Actrees</p>
  <li><a routerLink="">Ajith Kumar</a></li>
  <li><a routerLink="">Vijay</a></li>
  <li><a routerLink="">Dhanush</a></li>
  <li><a routerLink="">Surya</a></li>
  <li><a routerLink="">Rajinikanth</a></li>
</ul>
</div>
<div class="ml-28">
  <ul><p class="text-blue-300">Movies by language</p>
    <li><a routerLink="">Tamil movies</a></li>
    <li><a routerLink="">Hindi movies</a></li>
    <li><a routerLink="">Telegu movies</a></li>
    <li><a routerLink="">Kanada movies</a></li>
    <li><a routerLink="">Malayalam movies</a></li>
  </ul>
  </div>
  <div class="ml-28">
    <ul><p class="text-blue-300">Movies by Genere</p>
      <li><a routerLink="">Action movies</a></li>
      <li><a routerLink="">Romance movies</a></li>
      <li><a routerLink="">Drama movies</a></li>
      <li><a routerLink="">Crime movies</a></li>
      <li><a routerLink="">Comedy movies</a></li>
    </ul>
    </div>
    <div class="ml-28">
      <ul><p class="text-blue-300">Songs by language</p>
        <li><a routerLink="">Tamil songs</a></li>
        <li><a routerLink="">English songs</a></li>
        <li><a routerLink="">Hindi songs</a></li>
        <li><a routerLink="">Telugu songs</a></li>
        <li><a routerLink="">Malayalam songs</a></li>
      </ul>
      </div>
      <div class="ml-28">
        <ul><p class="text-blue-300">Songs by Genere</p>
          <li><a routerLink="">Pop songs</a></li>
          <li><a routerLink="">Melody songs</a></li>
          <li><a routerLink="">Jazz songs</a></li>
          <li><a routerLink="">Electronic songs</a></li>
          <li><a routerLink="">Rock songs</a></li>
        </ul>
        </div>

</div></div>
</div>
<router-outlet></router-outlet>
